
body{
  background-color: rgb(60, 227, 202);
}


h1{
  background-color: coral;
  height: 70px;
  text-align: center;
  font-size: 70px;
  margin-top: 50px;
  
}
ul{
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 1rem;
  list-style: disc;
  padding-left: 1rem;
}
h2{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
p{
  border:4px; border-style:solid;
   border-color:#565b5b; padding: 1em; 
   text-align: center;
  font-size: 20px;
  margin-top: 50px;
}